<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <ul class="collection">

        <li th:each="toDo : ${todos}" class="collection-item avatar" >
            <a th:href="@{/todos/} + ${toDo.id}">
                <div>
                    <span th:text="${toDo.name}">Title</span>
                    <p th:text="${toDo.description}">First Line</p>

                    <label class="secondary-content">
                        <input type="checkbox" class="done-checkbox" th:attr="data-id=${todo.id}"
                               th:checked="${toDo.done}"/>
                        <span>Done</span>
                    </label>
                </div>
            </a>
        </li>
    </ul>
</div>
</body>
</html>